
@use '@angular/material' as mat;

form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 450px;
  min-height: 300px;
  max-width: 500px;
}

mat-selection-list {
  width: 100%;
}

.city-option-label {
  display: flex;
  flex-direction: row;
}

.city-box {
  width: 40%;
}

.temp-box {
  width: 30%;
}

.wind-box {
  width: 30%;
}

.city-name, .temp-value, .wind-value {
  margin-left: 6px;
}
