<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-toolbar [title]="title"/>

<router-outlet />


<!-- <main class="main">
  <div class="content">    
    <div class="left-side">

      <br/>
      <table>
        <thead>
          <th>City</th>
          <th>Temperature</th>
          <th>Feels like temp</th>
          <th>Time of measure</th>
        </thead>
        <tbody>
          @for (cityWeather of citiesWeather(); track cityWeather.name) {
            <tr (click)="onCityClicked(cityWeather.name)">
              <td>{{ cityWeather.name }}</td>
              <td align="center">{{ cityWeather.main.temp }}</td>
              <td align="center">{{ cityWeather.main.feels_like }}</td>
              <td align="right">{{ cityWeather.dt * 1000 | date: 'short' }}</td>
            </tr>
          } @empty {
            <tr>
              <td colspan="4" align="center">
                <h2>Loading data...</h2>
              </td>
            </tr>
          }
        </tbody>
      </table>

    </div>
  </div>
</main> -->



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
